<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="sidebar">
         <div class="sidebar-header">
             <h3 class="brand">
                 <img src="./img/download.png" alt="" height="30px">
            </h3>
             <span class="ti-menu-alt"></span>
         </div>
<!-- menu -->
         <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="ti-home"></span>
                        <span>TOP</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-user"></span>
                        <span>オーナー情報</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-home"></span>
                        <span>物件詳細</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-calendar"></span>
                        <span>メンテナンススケジュール</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-file"></span>
                        <span>メンテナンス履歴</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-agenda"></span>
                        <span>定期点検一覧</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-files"></span>
                        <span>ファイル一覧</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-heart"></span>
                        <span>60年サポート管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-pinterest-alt"></span>
                        <span>ポイント履歴</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-help-alt"></span>
                        <span>ヘルプ</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-face-smile"></span>
                        <span>オーナーズネット</span>
                    </a>
                </li>
            </ul>
         </div>
    </div>
    <!-- content -->
    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Seach">
            </div>
            <div class="social-icons">
                <div></div>
                <span class="ti-user"></span>
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <span class="ti-home"></span>
                <span class="ti-headphone"></span>
             
            </div>
        </header>

        <main>
            <h2>TOP</h2>

            <div class="dash-cards">
                <div class="card-single">
                        <div class="card-body">
                            <span class="ti-user"></span>
                            <div>
                                <h5>オーナー情報</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">ユーザー情報</a>
                            <br>
                            <a href="">パスワード変更</a>
                        </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-user"></span>
                        <div>
                            <h5>物件詳細</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">基本情報</a>
                        <br>
                        <a href="">プラン情報</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-user"></span>
                        <div>
                            <h5>メンテナンススケジュール</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">次回修繕箇所</a>
                            <br>
                        <a href="">外壁：木質系サイディング塗装(アクリル系)</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-home"></span>
                        <div>
                            <h5>メンテナンス履歴</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">直近登録メンテナンス</a>
                            <br>
                        <a href="">1年点検：2021/12/15</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-calendar"></span>
                        <div>
                            <h5>定期点検</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">次回定期点検</a>
                            <br>
                        <a href="">1年点検：2021/12/15</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-file"></span>
                        <div>
                            <h5>ファイル</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">直近登録ファイル</a>
                            <br>
                        <a href="">190530家価値60年サポート登録依頼書.pdf</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-agenda"></span>
                        <div>
                            <h5>60年サポート管理</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">家価値60年サポート</a>
                            <br>
                        <a href="">申込済み</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-heart"></span>
                        <div>
                            <h5>ポイント</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">ポイント残高</a>
                            <br>
                        <a href="">1,000,000 P</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>